# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# Git
.git/
.gitignore

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
.env
